.job-box-container {
  width: 80%;
  overflow-x: scroll;
  margin: 50px auto;
  white-space: nowrap;
}

.job-box-container::-webkit-scrollbar {
  display: none;
}

.job-box {
  display: inline-block;
  margin: 70px;
  width: 200px;
  height: 250px;
  border: 2px solid black;
  border-radius: 10px;
  transition: width height 1s;
}

.job-box:hover {
  width: 210px;
  height: 260px;
}

.job-circle {
  width: 70px;
  height: 70px;
  background: #7f6bf8;
  border-radius: 50%;
  margin: -33px auto;
}

.transit {
  width: 100px;
  height: 100px;
  background: red;
  transition: width 2s;
}

.transit:hover {
  border-radius: 6px;
  width: 120px;
  height: 130px;
}
