/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.footer-box {
  background-color: #4231a6;
  color: white;
  width: 100%;
  position: relative;
  bottom: 0;
}

.footer-content {
  display: flex;
  justify-content: space-evenly;
}

.footer-content h4 {
  margin: 1rem 0;
}

.footer-content p {
  margin: 20px auto;
  font-size: 12px;
}

.footer-content a {
  color: #fefefe;
  text-decoration: none;
}

.footer-content a:hover {
  border-bottom: 3px solid #dadada;
  border-radius: 3px;
}

footer {
  padding: 0 2rem;
  text-align: center;
}

hr {
  margin: 1rem 0 20px;
  width: 100%;
}

@media (max-width: 767px) {
  .footer-box .footer-content {
    display: flex;
    flex-direction: column;
    font-size: 14px;
  }
  .footer-box {
    position: unset;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .footer-box,
  .footer-content {
    font-size: 14px;
  }
}
