:root {
  --darkblue: #4231a6;
  --secondary-blue: #7f6bf8;
}

.login-body {
  background-image: url(../images/sign-up-bg.png);
  min-height: 100vh;
}

.box {
  display: flex;
  flex-direction: column;
}
.boxes {
  margin-top: 50px;
}

.login {
  font-family: Inter, sans-serif;
  font-size: 48px;
  text-align: center;
  margin: 10px 0 30px;
}

.login-input {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-input input {
  width: 80%;
  height: 67px;
  font-size: 20px;
  margin: 10px auto;
  padding: 20px;
  border: none;
  outline: none;
  background: transparent;
  border-radius: 10px;
  box-shadow: 1px 2px 4px black;
}

.forgot-password {
  padding-left: 87px;
  margin: 50px auto;
}

.forgot-password span {
  color: var(--darkblue);
  cursor: pointer;
}

/* media queries */
@media screen and (max-width: 480px) {
  .login {
    font-size: 20px;
    font-weight: 800;
  }

  .login-input input {
    font-size: 10px;
    padding: 7px;
    height: 40px;
    border-radius: 5px;
  }

  .forgot-password {
    font-size: 10px;
    text-align: justify;
    margin: 4px auto;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .login {
    font-size: 30px;
    font-weight: 800;
  }

  .login-input input {
    font-size: 10px;
    padding: 10px;
    height: 40px;
    border-radius: 5px;
  }

  .forgot-password {
    font-size: 10px;
    text-align: center;
    margin: 4px auto;
  }
}
