* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter" sans-serif;
}

body {
  background-color: white;
}

:root {
  /* Reuseable Colours */
  --darkblue: #4231a6;
  --light-grey: #e2e1e2;
  --secondary-blue: #7f6bf8;
  --button-colour: #a79bf0;
  --linear-gradient: linear-gradient(#5946cb, #bcb2fa);

  /* Reusable font size */
  --headline: 4rem;
}

/* .header {
  width: 100%;
  background-color: var(--darkblue);
} */

.card {
  width: 50%;
  margin: 50px auto;
  padding: 40px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 4px black;
}

.try {
  font-size: 30px;
}

.btn {
  display: block;
  width: 80%;
  height: 67px;
  margin: 30px auto;
  border: none;
  border-radius: 10px;
  background-color: var(--button-colour);
  box-shadow: 1px 2px 4px black;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

/* Hamburger menu styling */
.hamburger {
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 2rem;
  height: 2rem;
}

.burger {
  height: 0.25rem;
  width: 100%;
  background-color: white;
  border-radius: 0.2rem;
}

/* media query for .card, btn */
@media (max-width: 480px) {
  .card {
    width: 220px;
  }
  .btn {
    height: 40px;
    border-radius: 5px;
    font-size: 12px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .card {
    width: 450px;
  }
  .btn {
    height: 40px;
    border-radius: 5px;
    font-size: 12px;
  }
}
/* media query for .card, btn ends */

/* media query styling for hamburger menu */
@media (max-width: 480px) {
  .hamburger {
    display: flex;
  }

  nav {
    flex-direction: column;
    align-items: start;
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin: 0 auto 0.25rem;
    margin-bottom: 0.25rem;
  }

  nav ul.open {
    display: flex;
  }

  nav ul li {
    width: 100%;
    text-align: center;
  }

  nav ul li a {
    margin: 0.2rem 0.5rem;
  }
}
/* Hamburger menu styling ends here */

.job-box {
  margin: 70px;
  width: 250px;
  height: 250px;
  border: 2px solid black;
  border-radius: 10px;
  transition: width height 2s;
}

.job-box:hover {
  width: 300px;
  height: 300px;
}

.job-circle {
  width: 100px;
  height: 100px;
  background: #7f6bf8;
  border-radius: 50%;
  margin: -50px auto;
  transition: width 2s;
}

.job-circle:hover {
  width: 150x;
  height: 150px;
}

.job-box-container {
  display: flex;
  overflow-x: auto;
}

.transit {
  width: 100px;
  height: 100px;
  background: red;
  transition: width 2s;
}

.transit:hover {
  border-radius: 6px;
  width: 120px;
  height: 130px;
}
